header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header  {
  /* color: #6c757d; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
}

section {
  margin: 20px;
}
article {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0 ;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  width: 80%;
  display: block;
  padding: 25px;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth scaling */
}
button:hover{
  transform: scale(1.2); /* Scale the element to 120% when hovered */
}
#search-student{
  display: flex;
  flex-direction: row;
}
#search-bar,#course-name {
  margin-right: 10px;
  padding: 15px;
  border-radius: 10px;
}
#course-name, #base7, #base10 {
  background-color: #f8f9fa;
  color: #121212;
}
input[type="submit"],.edit,.delete {
  background-color: #6c757d;
  color: #f8f9fa;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth scaling */
}
input[type="submit"]:hover {
  background-color: #495057;
  transform: scale(1.2); /* Scale the element to 120% when hovered */
}
#courses {
  width: 100%;
  padding: 10px;
  background-color: #f8f9fa;
  color: #121212;
}
#ID, #first-name, #surname, #midterm-score, #final-score {
  background-color: #f8f9fa;
  color: #121212;
  padding: 10px;
  border-radius: 5px;
}

/* General table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color:slateblue;
  color: white;
}

tr:hover {background-color: #f5f5f5;}

/* Specific styles for each table */
#student-table {
  background-color: #f2f2f2;
}

#course-table {
  background-color: #f9f9f9;
}

#course-detail {
  background-color: #f2f2f2;
}

#course-student-detail {
  background-color: #f9f9f9;
}
#course-details {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

#course-details option {
  padding: 10px;
}

/* Specific styles for each option */
#all {
  background-color: #f2f2f2;
}

#failed {
  background-color: #f9f9f9;
}

#passed {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
}


@media (max-width: 1300px) {
  #add-student {
    display: grid;
    grid-template-columns: 1fr;
  }
  table {
    scale: 0.6;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}